<aside class="menu">
    <p class="menu-label">
      Επιλεξτε ενα στοιχειο
    </p>
    <ul class="menu-list">
      <li (click)="onClick()"><a>Toggle stoixeio1</a> </li>
      <li (click)="onClick2()"><a> Toggle stoixeio2 </a></li>
      <li (click)="onClick3()"><a> Toggle stoixeio3 </a></li>
    </ul>
    <app-option1 *ngIf="stoixeio1"></app-option1>
    <app-option2 *ngIf="stoixeio2" [Object]="dataObj"></app-option2>
    <app-option3 *ngIf="stoixeio3"[Object1]="Object"></app-option3>
  </aside>